/* Import the custom font */
@font-face {
    font-family: 'Lausanne';
    src: url('assets/lausanne.otf') format('opentype');
}

body {
    margin: 0;
    font-family: 'Lausanne', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

.base-info-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: normal;
}

.base-info-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.base-info-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.wid-info-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 300px;
}

.wid-info-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  border: solid #333 4px;
  border-radius: 10px;
  height: 140px;
  width: 140px;
  color: #333;
  font-style: bold;
  background: #d8d6d8;
}

.header-page-container {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: normal;
}

.header-page-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding-left: 40px;
}

.widget-small {
  font-size: 15px;
}

.wid-info-items:nth-child(1) {
  margin-bottom: 5px;
}

.wid-info-items a {
  text-decoration-style: solid;
  color: black;
}

.intro-paragraph a {
  color: blue;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
}

.header-container a {
  color: white;
}

.header-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  spacing: 10px;
}

.app-categ-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: normal;
  align-items: flex-start;  /* Adjust to flex-start to align items at the top */
}

.app-categ-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border: solid #333 4px;
  border-radius: 10px;
  width: 300px;
  margin: 2.5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #d8d6d8;

}

.app-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
  font-family: Arial;
  margin-bottom: 10px;

}

.app-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding-bottom: 5px;
  height: 50px;
  margin-right: 10px;
}

.app-items img {
  width: 50px;
}

.app-items a {
  text-decoration: none;
  color: #333;
}

.app-items img {
  border-radius: 10px;
}

.app-text-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  height: 50px;
}


.app-text-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
